doctype html
html
    head
        title Test React Stuff
        meta(charset="UTF-8")
        link(rel="stylesheet" href="css/index.css")
    body
        div#example Loading React...

        script(src="https://unpkg.com/react@15.3.2/dist/react.min.js")
        script(src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.min.js")
        script(src=`${assets.client.js}`)
